<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <%
        result.forEach(function(result, index){
        %>
            <fieldset class="fieldset2">
                <ul>
                    <li>cofirmNum (유통사업자 승인번호) : <%= result.confirmNum %></li>
                    <li>email (유통사업자 이메일) : <%= result.email %></li>
                </ul>
            </fieldset>
        <%
        });
        %>
    </fieldset>
</div>
</body>

</html>
