<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>sendToNTSConfig (국세청 전송 옵션 설정 상태) : <%= sendToNTSConfig %></li>
            <li>true : (발행 즉시 전송) / false : (익일 자동 전송)</li>
        </ul>
    </fieldset>
</div>
</body>

</html>
