<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>팝빌 SDK Nodejs - Express Example.</title>
</head>

<body>
<div id="content">
    <p class="heading1">팝빌 예금주조회 Nodejs SDK - Express Example.</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>예금주조회</legend>
        <ul>
            <li>
                <a href="AccountCheckService/CheckAccountInfo">checkAccountInfo</a>
                - 계좌성명조회
            </li>
            <li>
                <a href="AccountCheckService/CheckDepositorInfo">checkDepositorInfo</a>
                - 계좌실명조회
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>포인트 관리</legend>
        <ul>
            <li>
                <a href="AccountCheckService/GetUnitCost">getUnitCost</a>
                발행 단가 확인
            </li>
            <li>
                <a href="AccountCheckService/GetChargeInfo">getChargeInfo</a>
                과금정보 확인
            </li>
            <li>
                <a href="AccountCheckService/GetBalance">getBalance</a>
                연동회원 잔여포인트 확인
            </li>
            <li>
                <a href="AccountCheckService/GetChargeURL">getChargeURL</a>
                연동회원 포인트 충전 팝업 URL
            </li>
            <li>
                <a href="AccountCheckService/PaymentRequest">paymentRequest</a>
                연동회원 무통장 입금신청
            </li>
            <li>
                <a href="AccountCheckService/GetSettleResult">getSettleResult</a>
                연동회원 무통장 입금신청 정보확인
            </li>
            <li>
                <a href="AccountCheckService/GetPaymentHistory">getPaymentHistory</a>
                연동회원 포인트 결제내역 확인
            </li>
            <li>
                <a href="AccountCheckService/GetPaymentURL">getPaymentURL</a>
                연동회원 포인트 결제내역 팝업 URL
            </li>
            <li>
                <a href="AccountCheckService/GetUseHistory">getUseHistory</a>
                연동회원 포인트 사용내역 확인
            </li>
            <li>
                <a href="AccountCheckService/GetUseHistoryURL">getUseHistoryURL</a>
                연동회원 포인트 사용내역 팝업 URL
            </li>
            <li>
                <a href="AccountCheckService/Refund">refund</a>
                연동회원 포인트 환불신청
            </li>
            <li>
                <a href="AccountCheckService/GetRefundHistory">getRefundHistory</a>
                연동회원 포인트 환불내역 확인
            </li>
            <li>
                <a href="AccountCheckService/GetPartnerBalance">getPartnerBalance</a>
                파트너 잔여포인트 확인
            </li>
            <li>
                <a href="AccountCheckService/GetPartnerURL">getPartnerURL</a>
                파트너 포인트충전 팝업 URL
            </li>
            <li>
                <a href="AccountCheckService/GetRefundInfo">getRefundInfo</a>
                환불 신청 상태 조회
            </li>
            <li>
                <a href="AccountCheckService/GetRefundableBalance">getRefundableBalance</a>
                환불 가능 포인트 조회
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>회원정보</legend>
        <ul>
            <li>
                <a href="AccountCheckService/CheckIsMember">checkIsMember</a>
                - 연동회원 가입여부 확인
            </li>
            <li>
                <a href="AccountCheckService/CheckID">checkID</a>
                - 아이디 중복 확인
            </li>
            <li>
                <a href="AccountCheckService/JoinMember">joinMember</a>
                - 연동회원 신규가입
            </li>
            <li>
                <a href="AccountCheckService/GetAccessURL">getAccessURL</a>
                - 팝빌 로그인 URL
            </li>
            <li>
                <a href="AccountCheckService/GetCorpInfo">getCorpInfo</a>
                - 회사정보 확인
            </li>
            <li>
                <a href="AccountCheckService/UpdateCorpInfo">updateCorpInfo</a>
                - 회사정보 수정
            </li>
            <li>
                <a href="AccountCheckService/RegistContact">registContact</a>
                - 담당자 등록
            </li>
            <li>
                <a href="AccountCheckService/GetContactInfo">getContactInfo</a>
                - 담당자 정보 확인
            </li>
            <li>
                <a href="AccountCheckService/ListContact">listContact</a>
                - 담당자 목록 확인
            </li>
            <li>
                <a href="AccountCheckService/UpdateContact">updateContact</a>
                - 담당자 정보 수정
            </li>
            <li>
                <a href="AccountCheckService/QuitMember">quitMember</a>
                - 팝빌회원 탈퇴
            </li>
        </ul>
    </fieldset>
</div>
</body>

</html>
