<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>팝빌 SDK Nodejs - Express Example.</title>
</head>

<body>
<div id="content">
    <p class="heading1">팝빌 계좌조회 API Nodejs SDK - Express Example.</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>계좌 관리</legend>
        <ul>
            <li>
                <a href="EasyFinBankService/RegistBankAccount">registBankAccount</a>
                - 계좌 등록
            </li>
            <li>
                <a href="EasyFinBankService/UpdateBankAccount">updateBankAccount</a>
                - 계좌정보 수정
            </li>
            <li>
                <a href="EasyFinBankService/GetBankAccountInfo">getBankAccountInfo</a>
                - 계좌정보 확인
            </li>
            <li>
                <a href="EasyFinBankService/ListBankAccount">listBankAccount</a>
                - 계좌 목록 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetBankAccountMgtURL">getBankAccountMgtURL</a>
                - 계좌 관리 팝업 URL
            </li>
            <li>
                <a href="EasyFinBankService/CloseBankAccount">closeBankAccount</a>
                - 계좌 정액제 해지요청
            </li>
            <li>
                <a href="EasyFinBankService/RevokeCloseBankAccount">revokeCloseBankAccount</a>
                - 계좌 정액제 해지요청 취소
            </li>
            <li>
                <a href="EasyFinBankService/DeleteBankAccount">deleteBankAccount</a>
                - 계좌 삭제
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>계좌 거래내역 수집</legend>
        <ul>
            <li>
                <a href="EasyFinBankService/RequestJob">requestJob</a>
                - 수집 요청
            </li>
            <li>
                <a href="EasyFinBankService/GetJobState">getJobState</a>
                - 수집 상태 확인
            </li>
            <li>
                <a href="EasyFinBankService/ListActiveJob">listActiveJob</a>
                - 수집 상태 목록 확인
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>계좌 거래내역 관리</legend>
        <ul>
            <li>
                <a href="EasyFinBankService/Search">search</a>
                - 수집 결과 조회
            </li>
            <li>
                <a href="EasyFinBankService/Summary">summary</a>
                - 수집 결과 요약정보 조회
            </li>
            <li>
                <a href="EasyFinBankService/SaveMemo">saveMemo</a>
                - 거래내역 메모저장
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>포인트 관리</legend>
        <ul>
            <li>
                <a href="EasyFinBankService/GetUnitCost">getUnitCost</a>
                발행 단가 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetChargeInfo">getChargeInfo</a>
                과금정보 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetBalance">getBalance</a>
                연동회원 잔여포인트 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetChargeURL">getChargeURL</a>
                연동회원 포인트 충전 팝업 URL
            </li>
            <li>
                <a href="EasyFinBankService/PaymentRequest">paymentRequest</a>
                연동회원 무통장 입금신청
            </li>
            <li>
                <a href="EasyFinBankService/GetSettleResult">getSettleResult</a>
                연동회원 무통장 입금신청 정보확인
            </li>
            <li>
                <a href="EasyFinBankService/GetPaymentHistory">getPaymentHistory</a>
                연동회원 포인트 결제내역 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetPaymentURL">getPaymentURL</a>
                연동회원 포인트 결제내역 팝업 URL
            </li>
            <li>
                <a href="EasyFinBankService/GetUseHistory">getUseHistory</a>
                연동회원 포인트 사용내역 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetUseHistoryURL">getUseHistoryURL</a>
                연동회원 포인트 사용내역 팝업 URL
            </li>
            <li>
                <a href="EasyFinBankService/Refund">refund</a>
                연동회원 포인트 환불신청
            </li>
            <li>
                <a href="EasyFinBankService/GetRefundHistory">getRefundHistory</a>
                연동회원 포인트 환불내역 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetPartnerBalance">getPartnerBalance</a>
                파트너 잔여포인트 확인
            </li>
            <li>
                <a href="EasyFinBankService/GetPartnerURL">getPartnerURL</a>
                파트너 포인트충전 팝업 URL
            </li>
            <li>
                <a href="EasyFinBankService/GetRefundInfo">getRefundInfo</a>
                환불 신청 상태 조회
            </li>
            <li>
                <a href="EasyFinBankService/GetRefundableBalance">getRefundableBalance</a>
                환불 가능 포인트 조회
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>회원정보</legend>
        <ul>
            <li>
                <a href="EasyFinBankService/GetAccessURL">getAccessURL</a>
                - 팝빌 로그인 URL
            </li>
            <li>
                <a href="EasyFinBankService/CheckIsMember">checkIsMember</a>
                - 연동회원 가입여부 확인
            </li>
            <li>
                <a href="EasyFinBankService/CheckID">checkID</a>
                - 아이디 중복 확인
            </li>
            <li>
                <a href="EasyFinBankService/JoinMember">joinMember</a>
                - 연동회원 신규가입
            </li>
            <li>
                <a href="EasyFinBankService/GetCorpInfo">getCorpInfo</a>
                - 회사정보 확인
            </li>
            <li>
                <a href="EasyFinBankService/UpdateCorpInfo">updateCorpInfo</a>
                - 회사정보 수정
            </li>
            <li>
                <a href="EasyFinBankService/RegistContact">registContact</a>
                - 담당자 등록
            </li>
            <li>
                <a href="EasyFinBankService/GetContactInfo">getContactInfo</a>
                - 담당자 정보 확인
            </li>
            <li>
                <a href="EasyFinBankService/ListContact">listContact</a>
                - 담당자 목록 확인
            </li>
            <li>
                <a href="EasyFinBankService/UpdateContact">updateContact</a>
                - 담당자 정보 수정
            </li>
            <li>
                <a href="EasyFinBankService/QuitMember">quitMember</a>
                - 팝빌회원 탈퇴
            </li>
        </ul>
    </fieldset>
</div>
</body>

</html>
