files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
        user  nginx;
        worker_processes  auto;
        error_log  /var/log/nginx/error.log;
        pid        /var/run/nginx.pid;
        events {
          worker_connections  1024; # <-- want to change this number
        }
        http {
          include       /etc/nginx/mime.types;
          default_type  application/octet-stream;
          access_log    /var/log/nginx/access.log;
          
          log_format  healthd '$msec"$uri"$status"$request_time"$upstream_response_time"$http_x_forwarded_for';
          include       /etc/nginx/conf.d/*.conf;
          include       /etc/nginx/sites-enabled/*;
          
          server {
            large_client_header_buffers 4 32k;
          }
        }


  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      service nginx stop 
      service nginx start

container_commands:
  removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"