<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>팝빌 SDK Express Example. </title>
</head>

<body>
<div id="content">
    <p class="heading1">Response</p>
    <br/>
    <fieldset class="fieldset1">
        <legend><%= path %></legend>
        <ul>
            <li>code (응답코드) : <%= code %></li>
            <li>message (응답메시지) : <%= message %></li>
            <li>팝빌 승인번호 (Response.invoiceNum) : <%= invoiceNum %></li>
        </ul>
    </fieldset>
</div>
</body>

</html>
