<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>팝빌 SDK Nodejs - Express Example.</title>
</head>

<body>
<div id="content">
    <p class="heading1">팝빌 기업정보조회 Nodejs SDK - Express Example.</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>기업정보조회</legend>
        <ul>
            <li>
                <a href="BizInfoCheckService/CheckBizInfo">checkBizInfo</a>
                - 기업정보 단건조회
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>포인트 관리</legend>
        <ul>
            <li>
                <a href="BizInfoCheckService/GetUnitCost">getUnitCost</a>
                발행 단가 확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetChargeInfo">getChargeInfo</a>
                과금정보 확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetBalance">getBalance</a>
                연동회원 잔여포인트 확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetChargeURL">getChargeURL</a>
                연동회원 포인트 충전 팝업 URL
            </li>
            <li>
                <a href="BizInfoCheckService/PaymentRequest">paymentRequest</a>
                연동회원 무통장 입금신청
            </li>
            <li>
                <a href="BizInfoCheckService/GetSettleResult">getSettleResult</a>
                연동회원 무통장 입금신청 정보확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetPaymentHistory">getPaymentHistory</a>
                연동회원 포인트 결제내역 확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetPaymentURL">getPaymentURL</a>
                연동회원 포인트 결제내역 팝업 URL
            </li>
            <li>
                <a href="BizInfoCheckService/GetUseHistory">getUseHistory</a>
                연동회원 포인트 사용내역 확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetUseHistoryURL">getUseHistoryURL</a>
                연동회원 포인트 사용내역 팝업 URL
            </li>
            <li>
                <a href="BizInfoCheckService/Refund">refund</a>
                연동회원 포인트 환불신청
            </li>
            <li>
                <a href="BizInfoCheckService/GetRefundHistory">getRefundHistory</a>
                연동회원 포인트 환불내역 확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetPartnerBalance">getPartnerBalance</a>
                파트너 잔여포인트 확인
            </li>
            <li>
                <a href="BizInfoCheckService/GetPartnerURL">getPartnerURL</a>
                파트너 포인트충전 팝업 URL
            </li>
            <li>
                <a href="BizInfoCheckService/GetRefundInfo">getRefundInfo</a>
                환불 신청 상태 조회
            </li>
            <li>
                <a href="BizInfoCheckService/GetRefundableBalance">getRefundableBalance</a>
                환불 가능 포인트 조회
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>회원정보</legend>
        <ul>
            <li>
                <a href="BizInfoCheckService/CheckIsMember">checkIsMember</a>
                - 연동회원 가입여부 확인
            </li>
            <li>
                <a href="BizInfoCheckService/CheckID">checkID</a>
                - 아이디 중복 확인
            </li>
            <li>
                <a href="BizInfoCheckService/JoinMember">joinMember</a>
                - 연동회원 신규가입
            </li>
            <li>
                <a href="BizInfoCheckService/GetAccessURL">getAccessURL</a>
                - 팝빌 로그인 URL
            </li>
            <li>
                <a href="BizInfoCheckService/GetCorpInfo">getCorpInfo</a>
                - 회사정보 확인
            </li>
            <li>
                <a href="BizInfoCheckService/UpdateCorpInfo">updateCorpInfo</a>
                - 회사정보 수정
            </li>
            <li>
                <a href="BizInfoCheckService/RegistContact">registContact</a>
                - 담당자 등록
            </li>
            <li>
                <a href="BizInfoCheckService/GetContactInfo">getContactInfo</a>
                - 담당자 정보 확인
            </li>
            <li>
                <a href="BizInfoCheckService/ListContact">listContact</a>
                - 담당자 목록 확인
            </li>
            <li>
                <a href="BizInfoCheckService/UpdateContact">updateContact</a>
                - 담당자 정보 수정
            </li>
            <li>
                <a href="BizInfoCheckService/QuitMember">quitMember</a>
                - 팝빌회원 탈퇴
            </li>
        </ul>
    </fieldset>
</div>
</body>

</html>
