<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>팝빌 SDK Nodejs - Express Example.</title>
</head>

<body>
<div id="content">
    <p class="heading1">팝빌 팩스 Nodejs SDK - Express Example.</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>발신번호 사전등록</legend>
        <ul>
            <li>
                <a href="FaxService/CheckSenderNumber">checkSenderNumber</a>
                - 발신번호 등록여부 확인
            </li>
            <li>
                <a href="FaxService/GetSenderNumberMgtURL">getSenderNumberMgtURL</a>
                - 발신번호 관리 팝업 URL
            </li>
            <li>
                <a href="FaxService/GetSenderNumberList">getSenderNumberList</a>
                - 발신번호 목록 확인
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>팩스 전송</legend>
        <ul>
            <li>
                <a href="FaxService/SendFAX">sendFAX</a>
                - 팩스 전송
            </li>
            <li>
                <a href="FaxService/SendFAX_Multi">sendFAX</a>
                - 팩스 동보전송
            </li>
            <li>
                <a href="FaxService/SendFAXBinary">sendFAXBinary</a>
                - 팩스 전송 (Binary)
            </li>
            <li>
                <a href="FaxService/ResendFAX">resendFAX</a>
                - 팩스 재전송
            </li>
            <li>
                <a href="FaxService/ResendFAXRN">resendFAX</a>
                - 팩스 재전송 (요청번호 할당)
            </li>
            <li>
                <a href="FaxService/ResendFAX_Multi">resendFAX</a>
                - 팩스 동보재전송
            </li>
            <li>
                <a href="FaxService/ResendFAXRN_multi">resendFAX</a>
                - 팩스 동보재전송 (요청번호 할당)
            </li>
            <li>
                <a href="FaxService/CancelReserve">cancelReserve</a>
                - 예약전송 취소
            </li>
            <li>
                <a href="FaxService/CancelReserveRN">cancelReserveRN</a>
                - 예약전송 취소 (요청번호 할당)
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>전송내역조회</legend>
        <ul>
            <li>
                <a href="FaxService/GetFaxResult">getFaxResult</a>
                - 전송내역 및 전송상태 확인
            </li>
            <li>
                <a href="FaxService/GetFaxResultRN">getFaxResultRN</a>
                - 전송내역 및 전송상태 확인 (요청번호 할당)
            </li>
            <li>
                <a href="FaxService/Search">search</a>
                - 전송내역 목록 조회
            </li>
            <li>
                <a href="FaxService/GetSentListURL">getSentListURL</a>
                - 팩스 전송내역 팝업 URL
            </li>
            <li>
                <a href="FaxService/GetPreviewURL">getPreviewURL</a>
                - 팩스 미리보기 팝업 URL
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>포인트 관리</legend>
        <ul>
            <li>
                <a href="FaxService/GetUnitCost">getUnitCost</a>
                발행 단가 확인
            </li>
            <li>
                <a href="FaxService/GetChargeInfo">getChargeInfo</a>
                과금정보 확인
            </li>
            <li>
                <a href="FaxService/GetBalance">getBalance</a>
                연동회원 잔여포인트 확인
            </li>
            <li>
                <a href="FaxService/GetChargeURL">getChargeURL</a>
                연동회원 포인트 충전 팝업 URL
            </li>
            <li>
                <a href="FaxService/PaymentRequest">paymentRequest</a>
                연동회원 무통장 입금신청
            </li>
            <li>
                <a href="FaxService/GetSettleResult">getSettleResult</a>
                연동회원 무통장 입금신청 정보확인
            </li>
            <li>
                <a href="FaxService/GetPaymentHistory">getPaymentHistory</a>
                연동회원 포인트 결제내역 확인
            </li>
            <li>
                <a href="FaxService/GetPaymentURL">getPaymentURL</a>
                연동회원 포인트 결제내역 팝업 URL
            </li>
            <li>
                <a href="FaxService/GetUseHistory">getUseHistory</a>
                연동회원 포인트 사용내역 확인
            </li>
            <li>
                <a href="FaxService/GetUseHistoryURL">getUseHistoryURL</a>
                연동회원 포인트 사용내역 팝업 URL
            </li>
            <li>
                <a href="FaxService/Refund">refund</a>
                연동회원 포인트 환불신청
            </li>
            <li>
                <a href="FaxService/GetRefundHistory">getRefundHistory</a>
                연동회원 포인트 환불내역 확인
            </li>
            <li>
                <a href="FaxService/GetPartnerBalance">getPartnerBalance</a>
                파트너 잔여포인트 확인
            </li>
            <li>
                <a href="FaxService/GetPartnerURL">getPartnerURL</a>
                파트너 포인트충전 팝업 URL
            </li>
            <li>
                <a href="FaxService/GetRefundInfo">getRefundInfo</a>
                환불 신청 상태 조회
            </li>
            <li>
                <a href="FaxService/GetRefundableBalance">getRefundableBalance</a>
                환불 가능 포인트 조회
            </li>
        </ul>
    </fieldset>
    <br/>
    <fieldset class="fieldset1">
        <legend>회원정보</legend>
        <ul>
            <li>
                <a href="FaxService/CheckIsMember">checkIsMember</a>
                - 연동회원 가입여부 확인
            </li>
            <li>
                <a href="FaxService/CheckID">checkID</a>
                - 아이디 중복 확인
            </li>
            <li>
                <a href="FaxService/JoinMember">joinMember</a>
                - 연동회원 신규가입
            </li>
            <li>
                <a href="FaxService/GetAccessURL">getAccessURL</a>
                - 팝빌 로그인 URL
            </li>
            <li>
                <a href="FaxService/RegistContact">registContact</a>
                - 담당자 등록
            </li>
            <li>
                <a href="FaxService/GetContactInfo">getContactInfo</a>
                - 담당자 정보 확인
            </li>
            <li>
                <a href="FaxService/ListContact">listContact</a>
                - 담당자 목록 확인
            </li>
            <li>
                <a href="FaxService/UpdateContact">updateContact</a>
                - 담당자 정보 수정
            </li>
            <li>
                <a href="FaxService/GetCorpInfo">getCorpInfo</a>
                - 회사정보 확인
            </li>
            <li>
                <a href="FaxService/UpdateCorpInfo">updateCorpInfo</a>
                - 회사정보 수정
            </li>
            <li>
                <a href="FaxService/QuitMember">quitMember</a>
                - 팝빌회원 탈퇴
            </li>
        </ul>
    </fieldset>
</div>
</body>

</html>
